<div class="container" style="text-align:center;">
<h1>Your Dashboard</h1>
<div class="top-doc">
<div class="card-doc">
<img src="https://images.unsplash.com/photo-1517842536804-bf6629e2c291?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
</div>
<div class="card-doc">
<h2>Personal Details-</h2>
<br>
<p>Name: <%= doctor.name%></p>
<p>Email: <%= doctor.email%></p>
<p>Degree: <%= doctor.degree%></p>
<p>Place: <%= doctor.place%></p>
<p>Time: <%= doctor.time%></p>
</div>
</div>
<br>
<h1>Add Blog</h1>
<div class="add-blog">
<form method="post" action="doctor/doctor-dashboard/add-blog" id="blog-form">

            <label><B>Title:</B>
            <input type="text" name="title" form = "blog-form" placeholder="Enter the Title" required>
            </label><br><br>
            <label><B>Category:</B>
            <input type="text" name="category" form = "blog-form" placeholder="Enter the Category" required>
            </label><br><br>	
	    <label><B>Blog:</B><br><br>
	  <textarea id="content1" name="content" form = "blog-form"></textarea>
	  <br><br></label>
	  <input type="hidden" name="author" form = "blog-form" value="<%= doctor.name%>">
       <button type="submit"><b>Save</b></button> 
</form>
</div>
</div>


<style>
	body
	{
		background-image: linear-gradient(to right, lavender, plum);
	}
	h1
	{
	font-size:400%;
	}
	h2
	{
	color: mediumorchid;
	}
		.top-doc
	{
	flex-flow: row wrap;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	padding:2%;
	}
	.card-doc
	{
	font-size: 200%;
	background-color:white;
	display:flex;
	flex-direction:column;
	flex-basis:40%;
	padding:2%;
	margin:1%;
	justify-content:space-around;
	}
	.card-doc img
	{
	text-align:center;
	width: 97%;
	}
	label
	{
	font-size: 150%;
	}
</style>
<script>
	$('#content1').richText();
	</script>
<link rel="stylesheet" href="/richtext.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="/jquery.richtext.js"></script>
<script src="/jquery.richtext.min.js"></script>
